body {
  margin: 0;
  
}

html {
  transition: background-color 1s;
}
#root{
  width:80%;
  margin: 0 0;
}

.quotebox {
  height: auto;
  /* width: 100%; */
  /* border: 1px rgb(145, 126, 126) solid; */
  /* border-radius: 10px; */
  text-align: right;
  width: 125%;
  margin-top: 30vh;
  /* background-color: #fff; */
}

#quote {
  margin: 20px;
  text-align: center;
  font-family: 'Texturina', serif;
    
}

.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#author {
  margin: 20px;
  font-style: italic;
  font-family: 'Texturina', serif;
  text-align: center;

}

#newquote {
  margin: 20px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 45px;
  width: 100px;
  font-weight: 700;
  
font-family: 'Oxygen', sans-serif;


  color: white;
}

#image{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 50%;
  height: 50vh;
}
